@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  padding-inline: 20px;
}

.app {
  overflow-x: hidden;
}
.app-content {
  display: grid;
  grid-template-areas:
    "sidebar topbar topbar"
    "sidebar main-application main-application"
    "sidebar main-application main-application"
    "sidebar main-application main-application";
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-columns: 280px 1fr 1fr;
}
.app-signin {
  background-image: url("./assets/login-backgound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar {
  position: sticky;
  top: 0;
  grid-area: sidebar;
  height: 100vh;
  overflow-y: auto;
  width: fit-content;
  z-index: 1;
}
.topbar {
  grid-area: topbar;
  padding: 30px!important;
}
.main-application {
  grid-area: main-application;
  overflow: auto;
  padding-inline: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
